.row {
  display: flex;
}

.board-big {
  float: left;
  margin-bottom: 25px;
}

.controller {
  float: left;
  margin: 4px;
}

.inspector {
  clear: both;
  float: left;
}

.board .row .column {
  width: 35px;
  height: 35px;
  background-color: #ffce9e;
}

.board .chess {
  font-size: 25px;
}

.board .position {
  display: none;
}

.board-big .row .column {
  width: 100px;
  height: 100px;
}

.board-big .position {
  display: inline;
}

.board-big .chess {
  font-size: 48px;
}

.board .row .column.available {
  background-color: cornsilk !important;
}

.board .row:nth-child(odd) .column:nth-child(even) {
  background-color: #d18b47;
}

.board .row:nth-child(even) .column:nth-child(odd) {
  background-color: #d18b47;
}

.column:hover, .selected {
  color: cornsilk;
  cursor: pointer;
}

.search-node ul {
  list-style-type: none;
  padding-left: 5px;
}

.current-move {
  font-weight: bold;
}

.inspector .search-node {
  float: left;
  margin: 0 10px;
}

.black-moves, .white-moves {
  min-width: 20em;
}

#fenString {
  width: 100%;
}

.input-and-instructions {
  max-width: 800px;
}
